@model cardstore_MVC.Models.CardListing
@{
    ViewData["Title"] = "Delete";
}

<h1>Are you sure you want to delete your listing?</h1>

<form asp-action="Delete">
    <input type="hidden" asp-for="CardNum" />
    <a asp-action="Listings"><input class="btn btn-dark" type="submit" value="Yes" /></a>
    <a class="btn btn-danger" asp-action="Listings">No</a>
</form>